.build/
.install/
.test-run/
.DS_Store
.idea/
*.profraw
*.aux
*.fdb_latexmk
*.out
*.log
*.synctex.gz
*.toc
*.fls
*.bbl
*.bbg
*.blg
paper/building_blocks/*.pdf
CMakeFiles/
Makefile
cmake_install.cmake
*.a
*.so
*.dylib
CMakeCache.txt
executable/sync_analysis
tests/run_analyzer_test
tests/CTestTestfile.cmake
